# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.db
/.vs/chapter13ex7/v17/Browse.VC.db-shm
/.vs/chapter13ex7/v17/Browse.VC.db-wal
/.vs/chapter13ex7/v17/Browse.VC.opendb
/chapter13ex7/x64/Debug/chapter13ex7.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/link.write.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/link.read.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/link.command.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/CL.command.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.tlog/chapter13ex7.lastbuildstate
/chapter13ex7/x64/Debug/chapter13ex7_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7_MD.tlog/CL.command.1.tlog
/chapter13ex7/x64/Debug/chapter13ex7.cpp.module.json
*.recipe
*.ilk
*.dt
*.command
/chapter13ex7/x64/Debug/vector_ZJKN0OGHGIL1KBDQ.module.json
/chapter13ex7/x64/Debug/vector_ZJKN0OGHGIL1KBDQ.ifc.d.json
/chapter13ex7/x64/Debug/vector_ZJKN0OGHGIL1KBDQ.ifc
/chapter13ex7/x64/Debug/vector.obj.isense.dt.d.json
/chapter13ex7/x64/Debug/vector.obj.dt.md.json
/chapter13ex7/x64/Debug/vector.obj.dt.d.json
/chapter13ex7/x64/Debug/vc143.pdb
/chapter13ex7/x64/Debug/vc143.idb
/chapter13ex7/x64/Debug/stdexcept_90ZPUCPZD4FFECXC.module.json
/chapter13ex7/x64/Debug/stdexcept_90ZPUCPZD4FFECXC.ifc.d.json
/chapter13ex7/x64/Debug/stdexcept_90ZPUCPZD4FFECXC.ifc
/chapter13ex7/x64/Debug/stdexcept.ifc.isense.dt.d.json
/chapter13ex7/x64/Debug/stdexcept.ifc.dt.md.json
/chapter13ex7/x64/Debug/stdexcept.ifc.dt.d.json
/chapter13ex7/x64/Debug/rational.ixx.module.json
/chapter13ex7/x64/Debug/Rational.ixx.ifc.isense.dt.d.json
/chapter13ex7/x64/Debug/Rational.ixx.ifc.dt.md.json
/chapter13ex7/x64/Debug/Rational.ixx.ifc.dt.d.json
/chapter13ex7/x64/Debug/Rational.ixx.ifc.d.json
/chapter13ex7/x64/Debug/Rational.ixx.ifc
/chapter13ex7/x64/Debug/rational.cpp.module.json
/chapter13ex7/x64/Debug/rational.cpp.json
/chapter13ex7/x64/Debug/ostream_03TW60L926I79202.module.json
/chapter13ex7/x64/Debug/ostream_03TW60L926I79202.ifc.d.json
/chapter13ex7/x64/Debug/ostream_03TW60L926I79202.ifc
/chapter13ex7/x64/Debug/ostream.ifc.isense.dt.d.json
/chapter13ex7/x64/Debug/ostream.ifc.dt.md.json
/chapter13ex7/x64/Debug/ostream.ifc.dt.d.json
/chapter13ex7/x64/Debug/numeric_T9VNYRJTK78DLMVD.module.json
/chapter13ex7/x64/Debug/numeric_T9VNYRJTK78DLMVD.ifc.d.json
/chapter13ex7/x64/Debug/numeric_T9VNYRJTK78DLMVD.ifc
/chapter13ex7/x64/Debug/numeric.obj.isense.dt.d.json
/chapter13ex7/x64/Debug/numeric.obj.dt.md.json
/chapter13ex7/x64/Debug/numeric.obj.dt.d.json
/chapter13ex7/x64/Debug/iostream_0UQWQZITSB7UXUWJ.module.json
/chapter13ex7/x64/Debug/iostream_0UQWQZITSB7UXUWJ.ifc.d.json
/chapter13ex7/x64/Debug/iostream_0UQWQZITSB7UXUWJ.ifc
/chapter13ex7/x64/Debug/iostream.obj.isense.dt.d.json
/chapter13ex7/x64/Debug/iostream.obj.dt.md.json
/chapter13ex7/x64/Debug/iostream.obj.dt.d.json
/chapter13ex7/x64/Debug/compare_Z8ZMUC5BY961YZPZ.module.json
/chapter13ex7/x64/Debug/compare_Z8ZMUC5BY961YZPZ.ifc.d.json
/chapter13ex7/x64/Debug/compare_Z8ZMUC5BY961YZPZ.ifc
/chapter13ex7/x64/Debug/compare.ifc.isense.dt.d.json
/chapter13ex7/x64/Debug/compare.ifc.dt.md.json
/chapter13ex7/x64/Debug/compare.ifc.dt.d.json
/chapter13ex7/x64/Debug/chapter13ex7.log
/chapter13ex7/x64/Debug/chapter13ex7.cpp.json
/x64/Debug/chapter13ex7.pdb
